Repository CEM-KEA/whoknows, pull requests merged in 2024-09, with the labels that each got.

#36 test bugfix
  .gitignore
  legacy/Makefile
  legacy/legacy/db/whoknows.db
  legacy/tests/test_database.py
  legacy/tests/test_routes.py
Labels: bug 🐞, legacy 👴

#66 Release/1.0
  .github/deploy.yml
  .github/workflows/deploy.yml
  backend/internal/api/router.go
  compose.yml
  frontend/Dockerfile
Labels: enhancement 😎, group work 🙏, code 👨‍💻, backend 🔙, frontend 🤠, github 😺, CI/CD 🔄🚀

#118 83 logout route and handler
  backend/internal/api/handlers/login_handler.go
  backend/internal/api/handlers/logout_handler.go
  backend/internal/api/router.go
  backend/internal/security/jwt.go
Labels: enhancement 😎, individual 🫡, code 👨‍💻, backend 🔙

#134 #109 Validate login with jwt
  backend/internal/api/handlers/validate_login_handler.go
  backend/internal/api/router.go
  backend/internal/security/jwt.go
Labels: individual 🫡, code 👨‍💻, backend 🔙
